<div id="content-wrapper">
  <h1>Help</h1>
  <p>- Backpack Barber is an app that connects you with mobile barbers in your area.</p>
  <p>- Worried about cost? Well hakunamatata! On average, our mobile barbers charge half the price of the average barber shop.</p>
  <p>- Using the "Find a Barber" tab, pick a barber you like, send a request, and they'll come to you.</p>
  <p>- In the same tab from above, you can specify whether you need a barber (A men's stylist) or a hairdresser (A women's stylist).</p>
  <p>- You can message your barber through the mobile app or on the website to iron out the details of the style you'd like and the appointment itself.</p>
  <p>- Appointments will be created through the app by the barber, and both the customer and the barber will be notified when the appoinment is made.</p>
  <p>- Pay and tip quickly and easily through your phone.</p>
  <p>- Make sure you leave a review of your barber! You'll be prompted to leave a required review after payment is complete.</p>
  <p>- You can simply leave a rating between 1 and 5 stars, or you could also write a small written review.</p>
  <p>- If you really loved your barber, you have the option to follow them. Follow barbers by clicking the orange "Follow" button on their profile page.</p>
</div>
<!--%= render 'layouts/footer' %-->
