<h1>Privacy</h1>
<p>All messages between a barber and a customer are permanently deleted 24 hours after payment.</p>
<p>There's gonna be lots of other security stuff but this is all I can ponder up right now :)</p>
