<div id="banner1" class="banner">
  <div id="content-logo">
    <h1>Welcome to Backpack Barber</h1>
    <p>This site is currently under construction. Thank you for your patience.</p>
  </div>
</div>

<div id="banner2" class="banner"></div>

<div id="banner3" class="banner"></div>

<div id="banner4" class="banner"></div>

<!--div id="banner1" class="banner">
<div id="banner2" class="banner">
<div id="banner3" class="banner"-->
<!--div id="content-wrapper">
    <div id="content-logo"></div>
    <h1>Welcome to Backpack Barber!</h1>
    <p>This site is currently under construction. Thank you for your patience :3</p>
  </div>
</div-->
<!--a href="<%= @promotions.desturl %>"><div id="ugly-ad"><span>An ugly ad for no reason</spam></div></a-->
<!--%= render 'layouts/footer' %-->
<!--p>Current time: <%= @time %></p>
<p>Current View: <%= @currentView%></p-->
