<div id="content-wrapper">
  <h1>Welcome to Backpack Barber!</h1>
  <p>This site is currently under construction. Thank you for your patience :3</p>
</div>
<!--p>Current time: <%= @time %></p>
<p>Current View: <%= @currentView%></p-->
