<div id="content-wrapper">
  <div id="content-logo"></div>
  <h1>Welcome to Backpack Barber!</h1>
  <p>This site is currently under construction. Thank you for your patience :3</p>
</div>
<!--a href="<%= @promotions.desturl %>"><div id="ugly-ad"><span>An ugly ad for no reason</spam></div></a-->
<!--%= render 'layouts/footer' %-->
<!--p>Current time: <%= @time %></p>
<p>Current View: <%= @currentView%></p-->
