<div id="banner1" class="banner">
  <div id="opening-logo">
    <h1>Backpack Barber</h1>
    <!--p>The next big thing in barbering</p-->
  </div>
  <div class="arrow-container"><div class="arrow arrow1"></div><div class="arrow arrow2"></div></div>
</div>

<div id="banner2" class="banner">
  <!--div class="banner-left">left</div-->
  <div id="banner2-text" class="banner-text">
    <h1>About Us</h1>
    <div class="banner-divider"></div>
    <p>Backpack Barber is a service that connects you with mobile barbers in your area who come to you to cut your hair so you don’t have to travel to the local barber shop and overpay for a hair cut. Backpack Barber is a mobile app and website that streamlines the haircut experience, allowing you to get your haircut at half the price of the average barber shop, while allowing you to pay through your phone, all while never leaving your home.</p>
  </div>
</div>

<div id="banner3" class="banner">
  <div id="banner3-text" class="banner-text">
    <h1>A paradigm shift</h1>
    <div class="banner-divider"></div>
    <p>We’ve all been to a barbershop or salon at least once in our life. We travel to their place of business, we walk in, we get our hair cut or styled, we pay, and then we leave. Believe it or not, this is exactly how getting a haircut has worked ever since 296 BC, back when people first got paid to style and cut other people's hair in Ancient Rome. For over 2,300 years, the basic fundamental formula for barbers has been the same, but thanks to the ultraportable and super connected world of today, we can create a paradigm shift in barbering, in the form of an app that connects us with mobile barbers in our area who come to our homes to cut/style our hair, and are paid through the app.</p>
  </div>
</div>

<div id="banner4" class="banner">
  <div id="app-links">
    <p>Download the app<p/>
    <div id="app-link-google" class="applink"></div>
    <div id="app-link-apple" class="applink"></div>
  </div>
  <div id="banner4-text" class="banner-text">
    <h1>We come to you</h1>
    <div class="banner-divider"></div>
    <p>The Backpack Barber app is an Android application that shows a grid of mobile barbers near you. You can view the nearby barbers in a map, or as a list. Once you click on a specific barber, you’ll see their profile page, where you have the options to either message them, view their price, see their reviews, leave a review, or see a gallery of their work. Both the customer and the barber will be prompted to connect to PayPal when they launch the app for the first time. This connectivity with PayPal allows the customer to pay the barber electronically and instantly.</p>
  </div>
</div>

<!--div id="banner5" class="banner"></div-->

<!--div id="home-footer">this is the banner</div-->
<!--div id="banner1" class="banner">
<div id="banner2" class="banner">
<div id="banner3" class="banner"-->
<!--div id="content-wrapper">
    <div id="content-logo"></div>
    <h1>Welcome to Backpack Barber!</h1>
    <p>This site is currently under construction. Thank you for your patience :3</p>
  </div>
</div-->
<!--a href="<%= @promotions.desturl %>"><div id="ugly-ad"><span>An ugly ad for no reason</spam></div></a-->
<!--%= render 'layouts/footer' %-->
<!--p>Current time: <%= @time %></p>
<p>Current View: <%= @currentView%></p-->
