<!--div id="map-wrapper"--> <!--map wrapper will have unique styling. No margins-->
<div id="content-wrapper">
  <div id="content-logo"></div>
  <h1>Find a Barber</h1>
  <p>This page will allow you to find a mobile barber near you by using an interface powered by Google Maps.</p>
</div>
<!--%= render 'layouts/footer' %-->
<!--/div-->
<!--p>Current time: <%= @time %></p>
<p>Current View: <%= @currentView%></p-->
