<h1>Find a Barber</h1>
<p>This page will allow you to find a mobile barber near you by using an interface powered by Google Maps.</p>
<!--p>Current time: <%= @time %></p>
<p>Current View: <%= @currentView%></p-->
