<h1>Store</h1>
<p>This tab will house an online store, where customers will be able to purchase merchandise, as well as specially made backpacks to hold your barber gear.</p>
<!--p>Current time: <%= @time %></p>
<p>Current View: <%= @currentView%></p-->
