<div id="reports-item-container">
    <div class="link-wrapper"><%= link_to accounts_path do %><div id="reports-item1" class="reports-item">
      <div id="item-icon1" class="item-icon"></div>
      <h1>Account Report</h1>
      <div class="item-description">Click this card to view a summary of all customers in the database.</div>
      <div id="hint1" class="hidden-hint"></div>
    </div><% end %></div>
    <div class="link-wrapper"><%= link_to product_colors_path do %><div id="reports-item2" class="reports-item">
      <div id="item-icon2" class="item-icon"></div>
      <h1>Product Color Report</h1>
      <div class="item-description">Click this card to view a list of every single item available in the Backpack Barber online store.</div>
      <div id="hint1" class="hidden-hint"></div>
    </div><% end %></div>
    <div class="link-wrapper"><%= link_to product_sizes_path do %><div id="reports-item3" class="reports-item">
      <div id="item-icon3" class="item-icon"></div>
      <h1>Product Size Report</h1>
      <div class="item-description">Click this card to view a list of every transaction made by a customer.</div>
      <div id="hint1" class="hidden-hint"></div>
    </div><% end %></div>
  </div>
