<!--navbar with tab1 selected-->
<div id="nav">
  <div id="logo"></div>
  <div id="empty-space"></div>
  <%=link_to main_tab1_path do %><div id="item1" class="item selected">Home</div><% end %>
  <%=link_to main_tab2_path do %><div id="item2" class="item">Find Barbers</div><% end %>
  <%=link_to main_tab3_path do %><div id="item3" class="item">Store</div><% end %>
</div>
