<p id="notice"><%= notice %></p>

<p>
  <strong>Customerid:</strong>
  <%= @barber_image.customerID %>
</p>

<%= link_to 'Edit', edit_barber_image_path(@barber_image) %> |
<%= link_to 'Back', barber_images_path %>
