<h1>Greetings and salutations!</h1>
<p>This is the home page</p>
<%= image_tag "https://vignette.wikia.nocookie.net/sonic/images/6/6d/Sonic_67.png/revision/latest/scale-to-width-down/180?cb=20120503091853" %>
