@import 'variables';

//---navbar styles---

#nav-wrapper-outer {
  position: fixed;
  background-color: $ColorWhite;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: $LightShadow;
  z-index: 1;
}

#nav-wrapper-inner {
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  background-color: $ColorWhite;
  display: grid;
  grid-template-columns: repeat(24, 0.5fr);
  height: $NavHeight;

  a {
    text-decoration: none;
  }

  #logo {
    text-align: center;
    line-height: $NavHeight;
    height: $NavHeight;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 15px;
    background-image: url("http://studentweb.cdm.depaul.edu/~tbrew/it231/images/backpack_barber_v4_black.png");
    opacity: 0.4;
    grid-column: span 2;
  }

  #empty-space-l {
    grid-column: span 7;
    visibility: visible;
  }

  #empty-space-r {
    grid-column: span 7;
    visibility: visible;
  }

  .item {
    font-size: 14px;
    text-align: center;
    line-height: $NavHeight;
    color: $ColorGray;
    //transition: 200ms;
    cursor: pointer;
  }

  .item-container {
    grid-column: span 2;
    visibility: visible;
  }

  #item1 {
    //background-color: red;
    &:hover {
      color: $ColorBlack;
      background-color: $ColorLightGray !important;
    }
  }

  #item2 {
    //background-color: green;
    &:hover {
      color: $ColorBlack;
      background-color: $ColorLightGray !important;
    }
  }

  #item3 {
    //background-color: blue;
    &:hover {
      color: $ColorBlack;
      background-color: $ColorLightGray !important;
    }
  }

  .is-selected {
    box-sizing: border-box;
    border-bottom: 2px solid $ColorOrange;
    color: $ColorBlack;
    height: $NavHeight;

    &:hover {
      //background-color: $ColorWhite;
      //border-bottom: 2px solid $ColorOrange;
    }
  }

  #sign-in {
    margin-right: 10px;
    grid-column: span 1; //span 2 on mobile
    visibility: visible;
    &:hover {
      color: $ColorOrange;
    }
  }

  #sign-up {
    font-weight: bold;
    grid-column: span 1; //span 2 on mobile
    visibility: visible;
    &:hover {
      color: $ColorOrange;
    }
  }
}

#drawer {
  visibility: hidden;
}

//---medium screen sstyles---

@media only screen and (max-width: 1400px) {
  body {
    //background-color: red !important;
  }
  #empty-space-l {
    grid-column: span 5 !important;
  }

  #empty-space-r {
    grid-column: span 4 !important;
  }
  #sign-in {
    margin-right: 0px;
    grid-column: span 2 !important; //span 2 on mobile
    &:hover {
      color: $ColorOrange;
    }
  }
  #sign-up {
    font-weight: bold;
    grid-column: span 2 !important; //span 2 on mobile
    &:hover {
      color: $ColorOrange;
    }
  }
  .item-container {
    grid-column: span 3 !important;
  }
  #drawer {
    visibility: hidden;
  }
}
