@import 'variables';

//---navbar styles---

$mobileNavHeight: $NavHeight - 10px;

body {
  background-color: $ColorOffWhite !important;
}

#nav-wrapper-outer {
  position: fixed;
  //background-color: $ColorWhite;
  width: 100%;
  top: 0;
  left: 0;
  //box-shadow: $LightShadow;
  z-index: 1;
}

#nav-wrapper-inner {
  //background-color: $ColorWhite;
  padding-left: 10px;
  padding-right: 10px;
}

nav {
  //background-color: $ColorWhite;
  height: $mobileNavHeight;

  a {
    text-decoration: none;
  }

  #logo {
    text-align: center;
    line-height: $mobileNavHeight;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 15px;
    background-image: url("http://studentweb.cdm.depaul.edu/~tbrew/it231/images/ic_dehaze_black_24dp_2x.png");
    opacity: 1;
    margin-left: -5px;
    height: 50px;
    cursor: pointer;

    &:hover {
      //background-color: $ColorLightGray;

      #drawer {
        opacity: 1;
        visibility: visible;
        left: -10px;
      }
    }

    #drawer {
      opacity: 0;
      position: absolute;
      visibility: hidden;
      background-color: $ColorWhite;
      width: 180px;
      box-shadow: $LightShadow;
      z-index: 1;
      margin: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      transition: 200ms;
      top: 40px;
      left: -40px;
      //height calculated in js

      a {
        text-decoration: none;
      }
    }
  }

  #empty-space-l {
    background-color: $ColorWhite;
    visibility: hidden;
  }

  #empty-space-r {
    background-color: $ColorWhite;
    visibility: hidden;
  }

  .item-container {
    visibility: hidden;
  }

  #sign-in {
    margin-right: 10px;
    visibility: hidden;
    &:hover {
      color: $ColorOrange;
    }
  }

  #sign-up {
    font-weight: bold;
    visibility: hidden;
    &:hover {
      color: $ColorOrange;
    }
  }
}

.item-mobile {
  padding: 10px;
  color: $ColorGray;

  &:hover {
    background-color: $ColorLightGray;
    color: black;
  }
}


//---mobile style---
