@import 'variables';

//---navbar styles---

#nav-wrapper-outer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  //box-shadow: $LightShadow;
  z-index: 1;
  box-shadow: inset 0px 56px 39px -15px rgba(0,0,0,0.3);
}

#nav-wrapper-inner {
  padding-left: 20px;
  padding-right: 20px;
  margin: 15px;
}

nav {
  //background-color: $ColorWhite;
  //display: inline;
  //display: grid;
  //grid-template-columns: repeat(24, 0.5fr);
  height: $NavHeight;

  #nav-right {
    //position: absolute;

    ul {
      position: absolute;
      right: 330px;
      //background-color: red;
    }
  }

  a {
    text-decoration: none;
  }

  ul {
    position: absolute;
    display: inline-flex;
    margin: 0px 0px 0px 0px;
    padding: 0px;

    li {
      list-style: none;
    }
  }

  #logo {
    text-align: center;
    line-height: $NavHeight;
    height: $NavHeight;
    width: 90px;
    margin: 0px 0px 0px 0px;
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: 18px 15px;
    background-image: url("http://studentweb.cdm.depaul.edu/~tbrew/it231/images/backpack_barber_v4_white.png");
    opacity: 0.7;
    grid-column: span 1;
  }

  #empty-space-l {
    grid-column: span 1;
    visibility: visible;
  }

  #empty-space-r {
    grid-column: span 11;
    visibility: visible;
  }

  .item {
    display: inline;
    font-size: 14px;
    text-align: center;
    line-height: $NavHeight;
    color: $ColorWhite;
    padding: 0px 15px 0px 15px;
    //transition: 200ms;
    cursor: pointer;

    span {
      //styles for inner text of item
      padding-bottom: 8px;
    }
  }

  .item-container {
    grid-column: span 2;
    visibility: visible;
    border-radius: 10px;

    &:hover {
      background-color: rgba(0,0,0, 0.2) !important;
    }
  }

  #item1 {

  }

  #item2 {

  }

  #item3 {

  }

  #item4 {

  }

  .nav-divider {
    height: 25px;
    width: 1px;
    margin: 17px 20px 0px 20px;
    float: left;
    background-color: $ColorWhite;
  }

  input[type="submit"] {
    background-color: rgba(0,0,0,0);
    border: none;
    height: 60px;
    margin: 0px;
    color: $ColorWhite;
    font-family: roboto, sans-serif;
    font-size: 14px;
    padding: 0px 15px 0px 15px;
    font-weight: lighter;
    border-radius: 10px;

    &:hover {
      background-color: rgba(0,0,0,0.2);
      cursor: pointer;
    }
  }

  #signin {
    visibility: visible !important;
    font-weight: lighter;
    margin: 0px;
  }

  #signup {
    font-weight: lighter;
    visibility: visible !important;
  }

  .is-selected {
    box-sizing: border-box;
    //background-color: $ColorBlack;
    height: $NavHeight;

    span {
      //background-color: black;
      border-bottom-color: $ColorOrange;
      border-bottom-style: solid;
      border-bottom-width: 2px;
    }

    &:hover {
      //background-color: $ColorWhite;
      //border-bottom: 2px solid $ColorOrange;
    }
  }

  #right-divider {
    position: absolute;
    right: 266px;
  }

  a:hover {
    background-color: $ColorWhite;
  }

  #cart {
    color: $ColorDarkGray !important;
    font-size: 13px;
    line-height: 51px;
    margin: 0px 0px 0px 13px;
    font-weight: bold;
  }

  #cart-wrapper {
    position: absolute;
    opacity: .7;
    //background-color: blue;
    width: 60px;
    height: 60px;
    background-image: url("http://studentweb.cdm.depaul.edu/~tbrew/it231/images/ic_shopping_cart_white_24dp_2x.png");
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position: 13px 13px;
    margin-right: 10px;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .cartOut {
    //background-color: red;
    right: 260px; //position of cart when user is logged out
  }

  .cartIn {
    //background-color: blue;
    right: 260px;
  }

  /*#search-wrapper {
    #search {
      position: absolute;
      right: 20px;
      opacity: .4;
      height: 100%;
      width: 60px;
      transition: 300ms;
      background-image: url("http://studentweb.cdm.depaul.edu/~tbrew/it231/images/ic_search_black_24dp_2x.png");
      background-repeat: no-repeat;
      background-size: 35px;
      background-position: 15px 13px;
    }

    #search-box {
      opacity: 0;
      background-color: $ColorGrayish2;
      margin-left: 65px;
      margin-top: 11px;
      height: 36px;
      width: 165px;
      border: none;
      padding: 0px 10px 0px 10px;
      color: $ColorBlack;
      border-radius: 5px;
      transition: 500ms
    }

    &:hover {
      #search-box {
        opacity: 1;
      }

      #search {
        width: 250px;
      }
    }
  }*/

}

#drawer {
  opacity: 0;
}

#search-dialog {
  position: absolute;
  background-color: #FFFFFF;
  width: 160px;
  height: 200px;
  top: 90px;
  right: 35px;
  border-radius: 10px;
  box-shadow: $HeavyShadow;
  transition: 200ms;

  #tri-bit {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #FFFFFF;
    top: -16px;
    margin: auto;
    left: 0;
    right: 0;
  }
}

//---medium screen sstyles---

@media only screen and (max-width: 1400px) {
  body {
    //background-color: red !important;
  }
  .item-container {
    grid-column: span 3 !important;
  }
  #drawer {
    visibility: hidden;
  }
}
