@import 'variables';

//---navbar styles---

#nav-wrapper-outer {
  position: fixed;
  background-color: $ColorWhite;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: $LightShadow;
  z-index: 1;
}

#nav-wrapper-inner {
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  background-color: $ColorWhite;
  display: grid;
  grid-template-columns: repeat(24, 0.5fr);
  height: $NavHeight;

  a {
    text-decoration: none;
  }

  #logo {
    text-align: center;
    line-height: $NavHeight;
    height: $NavHeight;
    width: 70px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 20px;
    background-image: url("http://studentweb.cdm.depaul.edu/~tbrew/it231/images/backpack_barber_v4_black.png");
    opacity: 0.4;
    grid-column: span 1;
  }

  #empty-space-l {
    grid-column: span 1;
    visibility: visible;
  }

  #empty-space-r {
    grid-column: span 11;
    visibility: visible;
  }

  .item {
    font-size: 14px;
    text-align: center;
    line-height: $NavHeight;
    color: $ColorGray;
    //transition: 200ms;
    cursor: pointer;

    &:hover {
      color: $ColorBlack;
      background-color: $ColorLightGray !important;
    }
  }

  .item-container {
    grid-column: span 2;
    visibility: visible;
  }

  #item1 {

  }

  #item2 {

  }

  #item3 {

  }

  .is-selected {
    box-sizing: border-box;
    border-bottom: 2px solid $ColorOrange;
    color: $ColorBlack;
    height: $NavHeight;

    &:hover {
      //background-color: $ColorWhite;
      //border-bottom: 2px solid $ColorOrange;
    }
  }

  #sign-in {
    margin-right: 10px;
    grid-column: span 1; //span 2 on mobile
    visibility: visible;
    &:hover {
      color: $ColorBlack;
    }
  }

  #sign-up {
    color: $ColorOrange;
    font-weight: bold;
    grid-column: span 1; //span 2 on mobile
    visibility: visible;
    &:hover {

    }
  }

  #cart {
    //background-color: red;
    opacity: .5;
    background-image: url("http://studentweb.cdm.depaul.edu/~tbrew/it231/images/ic_shopping_cart_black_24dp_2x.png");
    background-repeat: no-repeat;
    background-size: 38px 38px;
    background-position: 18px;
    color: $ColorWhite;
    font-size: 10px;
    line-height: 48px;
    padding-right: 2px;

    &:hover {
      opacity: 1;
    }
  }

  /*#search-wrapper {
    #search {
      position: absolute;
      right: 20px;
      opacity: .4;
      height: 100%;
      width: 60px;
      transition: 300ms;
      background-image: url("http://studentweb.cdm.depaul.edu/~tbrew/it231/images/ic_search_black_24dp_2x.png");
      background-repeat: no-repeat;
      background-size: 35px;
      background-position: 15px 13px;
    }

    #search-box {
      opacity: 0;
      background-color: $ColorGrayish2;
      margin-left: 65px;
      margin-top: 11px;
      height: 36px;
      width: 165px;
      border: none;
      padding: 0px 10px 0px 10px;
      color: $ColorBlack;
      border-radius: 5px;
      transition: 500ms
    }

    &:hover {
      #search-box {
        opacity: 1;
      }

      #search {
        width: 250px;
      }
    }
  }*/

}

#drawer {
  opacity: 0;
}

#search-dialog {
  position: absolute;
  background-color: #FFFFFF;
  width: 160px;
  height: 200px;
  top: 90px;
  right: 35px;
  border-radius: 10px;
  box-shadow: $HeavyShadow;
  transition: 200ms;

  #tri-bit {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #FFFFFF;
    top: -16px;
    margin: auto;
    left: 0;
    right: 0;
  }
}

//---medium screen sstyles---

@media only screen and (max-width: 1400px) {
  body {
    //background-color: red !important;
  }
  #empty-space-l {
    grid-column: span 3 !important;
  }

  #empty-space-r {
    grid-column: span 7 !important;
  }
  #sign-in {
    margin-right: 0px;
    grid-column: span 2 !important; //span 2 on mobile
    &:hover {
      color: $ColorOrange;
    }
  }
  #sign-up {
    font-weight: bold;
    grid-column: span 2 !important; //span 2 on mobile
    &:hover {
      color: $ColorOrange;
    }
  }
  .item-container {
    grid-column: span 3 !important;
  }
  #drawer {
    visibility: hidden;
  }
}
