//----------main colors----------

$ColorWhite: #FFFFFF;
$ColorOrange: #FF8A65;
$ColorBlue: #90CAF9;
$ColorBlack: #212121;
$ColorGray: #757575;
$ColorLightGray: #EEEEEE;

//----------main variables----------

//---dimensions---
$NavHeight: 60px;
$TabIndicatorHeight: 2px;

//---style variables---
$LightShadow: 0px 5px 41px -15px rgba(0,0,0,0.35);
