// Place all the styles related to the ProductColors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index-wrapper {
  position: absolute;
  //background-color: black;
  margin: auto;
  top: 200px;
  right: 0;
  left: 150px;
  width: 100%;
}
